@model Sitecore.Project.Website.Models.StudentDetails

<div>
    <div>
        @Model.Photograph
    </div>
    <div>
        <h2>Name: @Model.Name</h2>
    </div>
    <div>
        <h3>DOB: @Model.DOB</h3>
    </div>
    <div>
        <h3>Email: @Model.Email</h3>
    </div>
    <div>
        <h3>PhoneNo: @Model.PhoneNo</h3>
    </div>
    <div>
        <p>@Model.Profile</p>
    </div>
</div>